<!-- about -->
<div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>A</span>bout
            <span>U</span>s</h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-6 welcome-left">
                <h3>Chào mừng</h3>
                <h4 class="my-sm-3 my-2">Đồ án môn Thiết kế phần mềm CQ2017 / 31.</h4>
                <p>Đỗ Thế Anh</p>
                <p>Vòng Đạt Cường</p>
            </div>
        </div>
    </div>
</div>
<!-- //about -->

<!-- testimonials -->
<div class="testimonials py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center text-white mb-lg-5 mb-sm-4 mb-3">
            <span>Đ</span>ánh
            <span>G</span>iá
            <span>C</span>ủa
            <span>K</span>hách
            <span>H</span>àng
        </h3>
        <!-- tittle heading -->
        <div class="row gallery-index">
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>Toẹt vời ông mặt trời.</p>
                </div>
                <div class="row med-testi-left my-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                        <img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Anh A</h4>
                        <p>thumb up</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>Quá ư là tuyệt vời luôn.</p>
                </div>
                <div class="row med-testi-left my-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                        <img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Chị B</h4>
                        <p>like</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>Good jobs</p>
                </div>
                <div class="row med-testi-left mt-sm-5 my-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                        <img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Bà D</h4>
                        <p>happy</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>Tệ quá.</p>
                </div>
                <div class="row med-testi-left mt-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                        <img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Ai đó</h4>
                        <p>thumb down</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->