<!DOCTYPE html>
<html lang="vi">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- Custom-Files -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->

    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">

</head>
<body>
    <div class="bg-image-v2"></div>
    <div class="container signup-container">
        <!-- modals -->
        <!-- log in -->
        <div class="show mt-0" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">Đăng ký</h5>
                    </div>
                    <div class="modal-body">
                        <form name="signupForm" action="/signup" method="post">
                            {{#if success_messages }}
                              <div class="alert alert-success">{{success_messages}}</div>
                            {{/if}}
                            {{#if error_messages }}
                              <div class="alert alert-danger">{{error_messages}}</div>
                            {{/if}}
                            <div class="row">
                                <div class="form-group  col-md-6">
                                    <label class="col-form-label">Họ</label>
                                    <input type="text" class="form-control" placeholder="Họ" name="firstName" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label">Tên</label>
                                    <input type="text" class="form-control" placeholder="Tên" name="lastName" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Tên đăng nhập</label>
                                <input type="text" class="form-control" placeholder="Username" name="username" required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Email</label>
                                <input type="email" class="form-control" placeholder="Email" name="email" required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Số điện thoại</label>
                                <input type="phone" class="form-control" placeholder="Số điện thoại" name="phone" required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Mật khẩu</label>
                                <input type="password" class="form-control" placeholder="Mật khẩu" name="password" id="password1" required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Xác nhận mật khẩu</label>
                                <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" name="re-password" id="password2" required="">
                            </div>
                            <div class="sub-w3l">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" name="agree" id="signupCb">
                                    <label class="custom-control-label" for="signupCb">Tôi đồng ý với <a href="/terms">điều khoản</a></label>
                                </div>
                            </div>
                            <div class="right-w3l">
                                <input id="signupBtn" type="submit" class="form-control" value="Đăng ký">
                            </div>
                            
                            <p class="text-center dont-do mt-2">Đã có tài khoản ?
                                <a href="/login">
                                    Đăng nhập ngay</a>
                            </p>
                            <a class="backHomeLink" href="/"><i class="fas fa-arrow-left"></i> Về trang chủ</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading" class="sk-fading-circle" style="display: none;">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>

    <!-- jquery -->
    <script type="text/javascript" src="javascripts/jquery-2.2.3.min.js"></script>
    <!-- //jquery -->
    <!-- jquery validation-->
    <script type="text/javascript" src="javascripts/jquery.validate.min.js"></script>
    <!-- //jquery validation-->
    <!-- account -->
    <script type="text/javascript" src="javascripts/account.js"></script>
    <!-- end account -->
    <!-- Service js-->
    <script type="text/javascript" src="javascripts/service/loading.js"></script>
    <!-- //Service js -->
</body>
</html>
