<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>Đ</span>iều
            <span>K</span>hoản
            <span>S</span>ử
            <span>D</span>ụng
        </h3>
    </div>
    <div style="text-align: center;">
        <div>
            Yêu Tổ quốc, yêu đồng bào.
        </div>
        <div>
            Học tập tốt, lao động tốt.
        </div>
        <div>
            Đoàn kết tốt, kỷ luật tốt.
        </div>
        <div>
            Giữ gìn vệ sinh thật tốt.
        </div>
        <div>
            Khiêm tốn, thật thà, dũng cảm.
        </div>
    </div>
</div>